$primary-light: lighten(#00e5ff, 10%);
$primary: #00e5ff;
$primary-dark: darken(#00e5ff, 10%);

$light: #fff;
$light-darker: #ffffffdd;

$dark: #000;
$dark-lighter: #111111;

$background: #0e0e0f;

$spacing-pp: 0.25rem;
$spacing-p: 0.5rem;
$spacing-m: 0.75rem;
$spacing-g: 1rem;
$spacing-gg: 1.5rem;
$spacing-xg: 2rem;
$spacing-xxg: 2.5rem;
$spacing-l: 3rem;
$spacing-xl: 3.5rem;
$spacing-xxl: 4rem;
$spacing-u: 4.5rem;
$spacing-xu: 5rem;
$spacing-xxu: 6rem;

$border-radius-pp: 0.25rem;
$border-radius-p: 0.5rem;
$border-radius-m: 0.75rem;
$border-radius-g: 1rem;
$border-radius-gg: 1.5rem;
$border-radius-xg: 2rem;
$border-radius-pill: 50%;
