.text {
  &::after {
    content: '';
    visibility: hidden;
  }
}

.glyph {
  opacity: 0.8;
  font-family: 'Novo Tupi', sans-serif;
  line-height: 0;
}

.value {
  opacity: 1;
}

.label {
  width: max-content;
}